.Comment {
  display: flex;
  align-items: flex-start;
  font-family: Inter;

  button {
    border: none;
    background: inherit;
    outline: none;
  }

  p {
    font-size: 13px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
    margin-left: -30px;
    margin: 0 5px;
    margin-top: 6px;
  }
}
