.Post-Upload-View {
  .Dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      padding: 8px 20px;
      border: none;
      background: rgb(214, 47, 18);
      color: white;
      border-radius: 5px;
      font-size: 14px;
    }

    button:hover {
      background: rgb(214, 47, 50);
      cursor: button;
    }
  }

  .FinalStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      border: none;
      border-bottom: solid 1px rgba(0, 0, 0, 0.2);
      padding: 2px 5px 5px 0;
    }

    .UserImage {
      width: 30px;
      height: 30px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 5px;
    }

    .Post-Image {
      width: 100%;
      height: 210px;
      display: block;
      margin: auto;
      margin-top: 50px;
      object-fit: cover;
    }

    button {
      border: none;
      background: inherit;
      color: tomato;
    }
  }
}
