.ProfileOptionsView {
  display: flex;
  flex-direction: column;

  button {
    border: none;
    background: inherit;
    outline: none;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    font-size: 18px;

    p {
      margin-left: 8px;
      font-size: 15px;
    }
  }

  button:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}
