.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 320px;
  border-radius: 10px;
  z-index: 5;
  font-family: Inter;

  .Topbar {
    height: 40px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Body {
    overflow-y: auto;
    max-height: 250px;
    padding: 10px 0;
  }
}

@media (max-width: 750px) {
  .Modal {
    bottom: 0;
    left: 0;
    top: unset;
    width: 100%;
    transform: unset;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    .Body {
      max-height: 35vh;
    }
  }
}
