.Homepage {
  margin-top: 80px;
  font-family: arial;
  padding-bottom: 30px;
}

@media (max-width: 750px) {
  .Homepage {
    padding-left: 0;
    margin-top: 50px;
  }
}

.meh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: inter;

  span {
    font-size: 50px;
  }

  button {
    padding: 10px 20px;
    border: none;
    background: rgb(214, 47, 18);
    color: white;
    border-radius: 5px;
  }

  button:hover {
    background: rgb(214, 47, 50);
  }
}
