@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #f0f2f5;
  font-family: Inter !important;
}

input,
button {
  font-family: Inter;
  outline: none;
}

button:hover {
  cursor: pointer;
}


@media (max-width:768px){
  body{
    background: white;
  }
  .border:not(input){
    border:none;
  }
}