@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #F0F2F5;
  font-family: Inter;
}

input,
button {
  font-family: Inter;
  outline: none;
}

button:hover {
  cursor: pointer;
}
