.SettingsPage {
  width: 500px;
  margin: 70px auto;
  background: white;
  padding: 15px 25px 25px 25px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  .Tabs{
    margin-bottom:25px;

    button{
      border:none;
      outline:none;
      background:inherit;
      padding-bottom:5px;
    }

    .ActiveTabButton{
      border-bottom:solid 2px tomato;
    }

    button:not(:last-child){
      margin-right:15px;
    }
  }

  a {
    font-size: 13px;
    margin-top: 10px;
    text-decoration: none;
  }

  .SectionOne {
    display: flex;
    align-items: center;
    line-height: 1px;

    p {
      font-size: 18px;
      letter-spacing: 0.5px;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }

    label {
      background: inherit;
      color: #0095f6;
      font-weight: bold;
      font-size: 12px;
    }

    label:hover {
      cursor: pointer;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;

    label {
      font-size: 14px;
      margin: 8px 0;
    }
  
    input,textarea {
      border: solid 1px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 6px 15px 6px 10px;
      margin: 5px 0;
      outline:none;
      font-family:inherit;
    }
  
    input:focus,textarea:focus {
      box-shadow: 0 0 1pt 1pt tomato;
    }
  }

  .err-p {
    font-size: 13px;
    color: red;
  }

  .SubmitButton {
    border: none;
    padding: 10px 15px;
    background: rgb(214, 47, 18);
    color: white;
    border-radius: 5px;
    margin-top: 15px;
  }

  .SubmitButton:hover {
    background: rgb(214, 47, 50);
  }
}

@media (max-width: 750px) {
  .SettingsPage {
    width: 95%;
    border: solid 1px red;
    padding: 5px;
    border: none;
    background: none;
  }
}
