.MessageView {
  position: fixed;
  top: 60px;
  width: auto;
  min-width:300px;
  right: 25px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 14px;
  z-index: 6;
  border-radius:5px;
  padding:2px 15px;
}
