.LandingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  span {
    display: flex;
    align-items: center;

    p {
      margin-left: 10px;
    }
  }

  section:last-child {
    div {
      display: flex;
      flex-direction: column;
      width: 50%;
      min-width: 300px;
    }

    input {
      border: solid 1px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 10px 15px 10px 10px;
    }

    input:focus {
      box-shadow: 0 0 1pt 1pt tomato;
    }

    button {
      border: none;
      padding: 10px 15px;
      background: rgb(214, 47, 18);
      color: white;
      border-radius: 5px;
      margin-top: 10px;
    }

    button:hover {
      background: rgb(214, 47, 50);
    }

    button:last-child {
      background: black;
    }
  }
}

@media (max-width: 800px) {
  .LandingPage {
    flex-direction: column;

    section {
      width: 100%;
    }
  }
}
