.formWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 35%;

  label {
    font-size: 14px;
    margin: 8px 0;
  }

  input {
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 6px 15px 6px 10px;
    margin: 5px 0;
  }

  input:focus {
    box-shadow: 0 0 1pt 1pt tomato;
  }

  button {
    border: none;
    padding: 8px 15px;
    background: rgb(214, 47, 18);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button:disabled{
    opacity:0.8;
  }

  button:hover:not(:disabled) {
    background: rgb(214, 47, 50);
  }

  button:disabled:hover {
    cursor: default;
  }

  div {
    font-size: 14px;
    display: flex;
    align-items: center;

    a {
      margin-left: 5px;
      text-decoration: none;
    }
  }
}

@media (max-width:750px){
  .form{
    width:75%;
  }
}