.CommentInput {
  width: 550px;
  background: white;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: -30px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;

  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 17px 0;
  }

  input {
    width: 95%;
    border: none;
    padding-left: 10px;
    height: 100%;
    outline: none;
    background: inherit;
  }

  button {
    border: none;
    color: tomato;
    background: inherit;
  }

  button:disabled {
    opacity: 0.6;
    cursor: unset;
  }
}

@media (max-width: 750px) {
  .CommentInput {
    width: 99%;
  }
}
