.CommentView {
  width: 550px;
  border-radius: 10px;
  background: white;
  padding: 10px 0;

  .comment_ {
    word-break: break-all;
    padding-right: 10px;
  }
}

@media (max-width: 750px) {
  .CommentView {
    width: 99%;
  }
}
