.PostOptionsView {
  button {
    border: none;
    background: white;
    outline: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    padding-left: 35px;
    font-size: 14px;
    height: 45px;
    font-size: 18px;

    p {
      margin-left: 8px;
      font-size: 15px;
    }
  }

  button:hover {
    background: rgba(0, 0, 0, 0.08);
  }

  .DeleteView {
    display: flex;
    flex-direction: column;
    margin-top: 2px;

    div:first-child {
      text-align: center;
      display: flex;
      flex-direction: column;

      p {
        color: tomato;
        font-size: 15px;
      }
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .PostOptions {
    display: flex;
    flex-direction: column;
  }
}
