.UserListView {
  display: flex;
  flex-direction: column;
  z-index: 5;

  .UserList {
    padding-bottom: 5px;

    div {
      display: flex;
      align-items: center;
      font-size: 15px;
      padding-left: 2px;
      border: none;
      font-weight: normal;
      height: 30px;
    }

    div:not(:first-child) {
      margin-top: 10px;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 15px;
      font-family: inter;
    }

    a:hover {
      text-decoration: underline;
    }

    img {
      width: 28px;
      height: 28px;
      object-fit: cover;
      border-radius: 50%;
      margin: 0 10px;
    }

    p:last-child {
      text-align: center;
      font-size: 15px;
    }
  }
}
