.notification-list {
  position: fixed;
  background: white;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 0;
  z-index: 4;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  .notifications {
    margin-top: 2px;
    overflow-y: auto;
    max-height: 300px;
    margin-right: 5px;
  }

  .notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    width: 100%;
  }

  .notification:hover {
    cursor: pointer;
  }

  .notification p {
    font-size: 13px;
  }

  .notification .profile-pic {
    max-width: 28px;
    max-height: 28px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px;
  }

  .notification .post-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .top {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    height: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4px;
    padding-bottom: 3px;

    button {
      border: none;
      outline: none;
      background: inherit;
      position: absolute;
      right: 5px;
      top: 2px;
      font-size: 25px;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }
}

@media (max-width: 550px) {
  .notification-list {
    width: 100%;
    height: 100%;
    border: none;
    margin-top: 10px;
    border-radius: 0;
  }

  .notifications {
    max-height: auto;
  }
}
