.add--post-modal {
  height: auto;
  width: 350px;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding: 5px 0;

    button {
      background: inherit;
      border: none;
      outline: none;
      padding: 0 10px;
    }

    button:first-child {
      font-size: 18px;
    }
  }

  img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px auto;
    object-fit: cover;
  }

  img:first-child {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  div:last-child {
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
  }

  input {
    display: block;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    width: 52%;
    box-sizing: border-box;
    outline: none;
    padding: 5px 0 5px 0;
    height: 30px;
  }
}

@media (max-width: 750px) {
  .add--post-modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
