.comment--box {
  width: 100%;

  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 17px 0;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }

  input {
    width: 95%;
    border: none;
    padding-left: 10px;
    height: 100%;
    outline: none;
  }

  button {
    border: none;
    background: inherit;
    color: blue;
  }

  button:disabled {
    opacity: 0.6;
    cursor: unset;
  }
}
