.comments--view {
  width: 100%;
  margin-top: 20px;

  .comment {
    display: flex;
    align-items: flex-start;

    button {
      border: none;
      background: inherit;
      outline: none;
    }

    p {
      font-size: 13px;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }

    .username--comment {
      margin-right: 5px;
      word-break: break-all;
    }

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 50%;
      margin-left: -30px;
      margin: 0 5px;
      margin-top: 6px;
    }
  }

  .comment_ {
    word-break: break-all;
    padding-right: 10px;
  }
}
