.edit--password-page {
  width: 50%;
  margin: 70px auto;
  background: white;
  padding: 25px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  a {
    font-size: 13px;
    margin-top: -10px;
    text-decoration: none;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;

    input,
    textarea {
      margin-bottom: 20px;
      border: solid 1px rgba(0, 0, 0, 0.4);
      border-radius: 3px;
      padding: 8px;
      font-family: inherit;
      max-width: 100%;
      box-sizing: border-box;
      min-width: 100%;
    }

    label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  .err-p {
    font-size: 13px;
    color: red;
  }

  .submit-btn {
    width: 100px;
    padding: 5px;
    border: none;
    background: #0095f6;
    border-radius: 5px;
    color: white;
  }

  .submit-btn:disabled {
    opacity: 0.8;
    cursor: unset;
  }
}

@media (max-width: 750px) {
  .edit--password-page {
    width: 95%;
    border: solid 1px red;
    padding: 5px;
    border: none;
    background: none;
  }
}
