.edit--profile-page {
  width: 50%;
  margin: 70px auto;
  background: white;
  padding: 25px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  .section-one {
    display: flex;
    align-items: center;
    line-height: 1px;

    p {
      font-size: 18px;
      letter-spacing: 0.5px;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }

    label {
      background: inherit;
      color: #0095f6;
      font-weight: bold;
      font-size: 12px;
    }

    label:hover {
      cursor: pointer;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;

    p {
      font-size: 13px;
      color: red;
    }

    input,
    textarea {
      margin-bottom: 20px;
      border: solid 1px rgba(0, 0, 0, 0.4);
      border-radius: 3px;
      padding: 8px;
      font-family: inherit;
      max-width: 100%;
      box-sizing: border-box;
      min-width: 100%;
    }

    label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  .submit-btn,
  button {
    width: 100px;
    padding: 5px;
    border: none;
    background: #0095f6;
    border-radius: 5px;
    color: white;
  }

  button:disabled {
    cursor: unset;
    opacity: 0.6;
  }
}

@media (max-width: 750px) {
  .edit--profile-page {
    width: 95%;
    border: solid 1px red;
    padding: 5px;
    border: none;
    background: none;
  }
}
