.layout {
  .flex {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 160px;
  }

  .layout-main,
  .for-pc {
    background: white;
    padding: 15px;
    border-radius: 7px;
    width: 500px;
    border: solid 1px rgba(0, 0, 0, 0.2);
  }

  .for-pc {
    position: fixed;
    overflow-y: auto;
    right: 100px;
    width: 400px;
    max-height: 80vh;
  }
}

@media (max-width: 1300px) {
  .layout .for-pc {
    right: 50px;
  }
  .layout .flex {
    margin-left: 110px;
  }
}

@media (max-width: 1150px) {
  .layout .for-pc {
    right: 10px;
  }
  .layout .flex {
    margin-left: 80px;
  }
}

@media (max-width: 1080px) {
  .for-pc {
    display: none;
  }
  .layout .flex {
    margin-left: 80px;
  }
  .layout-main {
    width: 85vw;
  }
}

@media (max-width: 620px) {
  .layout .flex {
    margin-left: 0;
    margin-top: 40px;
  }

  .layout .layout-main {
    width: 100%;
  }

  .layout .layout-main,
  .layout .for-pc {
    border: none;
  }
}
