.loader {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 2px;
  animation: animate linear 1s infinite;
  background: linear-gradient(to right, crimson, yellow);
}

@keyframes animate {
  0% {
    background: linear-gradient(to right, crimson, yellow);
  }
  50% {
    background: linear-gradient(to right, yellow, crimson);
  }
  100% {
    background: linear-gradient(to left, crimson, yellow);
  }
}
