@import "./Navbar.scss";
@import "./PostOptModal.scss";
@import "./Post.scss";
@import "./Homepage.scss";
@import "./UserListModal.scss";
@import "./PostButton.scss";
@import "./AddPostModal.scss";
@import "./MobileNavbar.scss";
@import "./ProfileSummary.scss";
@import "./Profilepage.scss";
@import "./ProfileOptModal.scss";
@import "./UnfollowPrompt.scss";
@import "./ProfileButtonLine.scss";
@import "./PostsGrid.scss";
@import "./Loader.scss";
@import "./PostView.scss";
@import "./ExplorePage.scss";
@import "./SearchView.scss";
@import "./Auth.scss";
@import "./Recommended.scss";
@import "./Feed.scss";
@import "./CommentBox.scss";
@import "./CommentsView.scss";

body {
  margin: 0;
  background: #fafafa;
  font-family: arial;
}

button:hover {
  cursor: pointer;
}
