.navbar--mobile {
  display: none;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  height: 45px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 0;

  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
  }

  [type="file"] {
    display: none;
  }
}

@media (max-width: 750px) {
  .navbar--mobile {
    display: flex;
  }
}
