.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  background: white;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .login--btn,
  .signup--btn {
    border: none;
    padding: 8px 20px;
    margin-left: 5px;
    border-radius: 5px;
  }

  .login--btn {
    background: #2196f3;
    color: white;
  }

  ul:first-child {
    font-family: "Dancing Script";
    font-weight: bold;

    a {
      font-size: 20px;
    }
  }

  ul:nth-child(2) ul:first-child {
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
  }

  .right img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
  }

  a {
    border: none;
    outline: none;
    background: inherit;
    font-size: 25px;
    margin-right: 20px;
    color: black;
    text-decoration: none;
  }
}

@media (max-width: 750px) {
  .navbar ul:nth-child(2) {
    display: none;
  }
  .navbar ul:last-child {
    display: none;
  }
}
