.post--options-modal {
  position: fixed;
  width: 320px;
  height: auto;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 10px;
  padding: 5px 0;

  .delete--confirmer-popup {
    display: flex;
    flex-direction: column;

    div:first-child {
      text-align: center;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      padding-left: 15px;

      p:first-child {
        font-weight: bold;
      }

      p:nth-child(2) {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.4);
        margin-top: -8px;
      }
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      width: 100%;

      button {
        border: none;
        background: white;
        outline: none;
        text-align: center;
        width: 100%;
        padding: 15px 0;
        border-top: solid 1px rgba(0, 0, 0, 0.1);
        font-size: 14px;
      }

      button:focus {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .post--options {
    display: flex;
    flex-direction: column;

    button {
      border: none;
      background: white;
      outline: none;
      text-align: center;
      width: 100%;
      padding: 15px 0;
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);
      z-index: 2;
      font-size: 14px;
    }

    button:focus {
      background: rgba(0, 0, 0, 0.2);
    }

    button:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    button:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
