.post--view-- {
  width: 70%;
  margin: 18vh auto;
  border: solid 1px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  font-family: arial;
  background: white;

  .date {
    padding-left: 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  .absolute--bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    margin-bottom: 8px;
  }

  button {
    border: none;
    background: inherit;
    outline: none;
  }

  section:first-child {
    border-right: solid 1px rgba(0, 0, 0, 0.4);

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  }

  section:last-child {
    position: relative;

    .comment--view-section {
      height: 58%;
    }

    .top--section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid 1px rgba(0, 0, 0, 0.4);

      ul button {
        font-size: 15px;
      }

      ul:first-child button {
        color: skyblue;
        font-size: 14px;
        margin: 0 5px;
      }

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 50%;
        margin-left: -30px;
      }

      ul {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      a {
        font-size: 16px;
        text-decoration: none;
        color: black;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
