.post--card {
  width: inherit;
  height: auto;
  background: white;
  margin-bottom: 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);

  .top-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-left: -17px;
    margin-bottom: -7px;
    margin-top: 4px;

    ul button {
      background: inherit;
      border: none;
      font-size: 25px;
      outline: none;
    }

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 50%;
      margin-left: -20px;
    }

    ul {
      display: flex;
      align-items: center;
    }

    a {
      font-size: 15px;
      text-decoration: none;
      color: black;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .image-div {
    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 7px;
    }
  }

  .actions-div {
    display: flex;
    align-items: center;
    padding: 9px 5px 5px 0;
    justify-content: space-between;
    height: 40px;
    margin-left: -8px;

    button {
      font-size: 20px;
      border: none;
      background: inherit;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      height: 100%;

      p {
        font-size: 15px;
        margin-left: 5px;
      }
    }
  }

  div:last-child {
    margin-top: -10px;
    padding-left: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.status,
.posted_date {
  font-size: 15px;
  color: gray;
  padding-left: 5px;
}

.status {
  margin-bottom: 10px;
}

.posted_date:hover {
  text-decoration: underline;
  cursor: default;
}

@media (max-width: 500px) {
  .post--card .image-div img {
    height: 250px;
  }
}
