.post--card {
  width: 600px;
  height: auto;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin-top: 25px;

  div:first-child {
    margin-top: -10px;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;

    ul button {
      background: inherit;
      border: none;
      font-size: 25px;
      outline: none;
    }

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 50%;
      margin-left: -20px;
    }

    ul {
      display: flex;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    a {
      font-size: 15px;
      text-decoration: none;
      color: black;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  div:nth-child(2) {
    img {
      width: 100%;
      height: auto;
    }
  }

  div:nth-child(3) {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    margin-left: 9px;

    button {
      font-size: 25px;
      border: none;
      background: inherit;
      outline: none;
    }
  }

  div:nth-child(4) {
    padding-left: 15px;
    margin-top: -12px;
    font-size: 15px;
  }

  div:nth-child(5) {
    padding-left: 10px;
    font-size: 15px;
    margin-top: -15px;
    display: flex;
    align-items: center;

    p {
      line-height: 15px;
      font-weight: bold;
      margin-right: 15px;
    }

    button {
      outline: none;
      background: inherit;
      border: none;
      font-weight: bold;
      font-size: 15px;
      margin-right: 10px;
    }
  }

  div:nth-child(6) {
    margin-top: -10px;
    padding-left: 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 750px) {
  .post--card {
    width: 100%;
    background: inherit;
    border: none;
  }
}
