.profile--options-modal {
  position: fixed;
  width: 220px;
  height: auto;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 7px;
  padding: 10px 0;

  button {
    border: none;
    background: inherit;
    outline: none;
    width: 100%;
    padding: 20px 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 25px;

    p {
      margin-left: 5px;
    }
  }

  button:disabled {
    opacity: 0.8;
  }

  button:disabled:hover {
    cursor: unset;
  }

  button:hover {
    background: rgba(0, 0, 0, 0.07);
  }
}

@media (max-width: 500px) {
  .profile--options-modal {
    all: unset;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 40px;
    max-height: 300px;
    width: 100%;
    transform: none;
    z-index: 5;
    background: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px 0;
  }
}
