.profile--options-modal {
  position: fixed;
  width: 220px;
  height: auto;
  background: whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 7px;
  padding: 10px 0;

  button {
    border: none;
    background: whitesmoke;
    outline: none;
    width: 100%;
    padding: 20px 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 25px;

    p {
      margin-left: 5px;
    }
  }

  button:disabled {
    opacity: 0.8;
  }

  button:disabled:hover {
    cursor: unset;
  }

  button:hover {
    background: rgba(0, 0, 0, 0.07);
  }

  .post--options {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .profile--options-modal {
    width: 75vw;
  }
}
