.profile--summary-page {
  width: 100%;
  background: white;
  border-radius: 7px;
  font-family: Inter;
  padding-bottom: 10px;

  section {
    padding-left: 15px;
  }

  .cover-image {
    width: 100%;
    height: 100px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    margin-top: -25px;
    object-fit: cover;
  }

  .username {
    font-size: 20px;
  }

  .bio {
    font-size: 15px;
    margin-top: -10px;
  }

  .users-summary {
    display: flex;
    align-items: center;

    button {
      background: inherit;
      outline: none;
      border: none;
    }

    span,
    button {
      font-size: 14px;
      color: gray;
    }
  }

  .action-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;

    button {
      display: flex;
      align-items: center;
      border: solid 1px #229954;
      border-radius: 7px;
      outline: none;
      height: 35px;
      padding: 2px 13px;
      margin-right: 5px;
      font-size: 17px;
      background: inherit;

      p {
        margin-left: 5px;
        font-size: 12.5px;
      }
    }
  }
}

@media (max-width: 700px) {
}
