.profile--button-line {
  margin-top: 70px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  div:first-child {
    display: flex;
    align-items: center;
  }

  button {
    outline: none;
    border: none;
    background: inherit;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;

    p {
      margin-left: 7px;
      font-size: 11px;
    }
  }

  .active {
    border-top: solid 1px black;
  }
}

@media (max-width: 750px) {
  .profile--button-line {
    margin-top: -5px;
    border-top: none;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);

    .active {
      border: none;
      color: blue;
    }

    button {
      margin-right: 25px;

      p {
        display: none;
      }
    }
  }
}
