.recommended {
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  margin: auto;
  margin-bottom: 50px;

  p {
    font-size: 14px;
    margin-top: -2px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .recommended--user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;

    div {
      display: flex;
      align-items: center;
      margin: 10px 0;
    }

    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 750px) {
  .recommended {
    width: 95%;
    margin: auto;
    border: none;
    background: inherit;
  }
}
