.search--bar {
  position: absolute;
  height: 300px;
  overflow-y: auto;
  width: inherit;
  box-sizing: border-box;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin-top: 2px;
}
