.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: whitesmoke;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.sidebar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%;
}

.sidebar button {
  font-size: 22px;
  background: inherit;
  border: none;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.sidebar button:hover {
  background: #c6e7e1;
}

.activeButton {
  color: #229954;
}

.tooltipText {
  padding: 1px;
  font-size: 14px;
  margin: 0;
  font-family: Inter;
}
