.view--users-modal {
  position: fixed;
  width: 320px;
  height: auto;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 5;
  border-radius: 10px;

  div:nth-child(1) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 16px;
    height: 40px;
    font-weight: bold;
    margin-top: -2px;

    button {
      border: none;
      outline: none;
      background: inherit;
      position: absolute;
      top: 8px;
      right: 5px;
      font-size: 25px;
    }
  }

  div:nth-child(2) {
    padding-bottom: 5px;
    height: 250px;
    overflow-y: auto;

    div {
      display: flex;
      align-items: center;
      font-size: 15px;
      padding-left: 2px;
      border: none;
      margin: 3px 0;
      font-weight: normal;
      height: 30px;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 14px;
    }

    a:hover {
      text-decoration: underline;
    }

    img {
      width: 25px;
      height: 25px;
      object-fit: cover;
      border-radius: 50%;
      margin: 0 10px;
    }

    p:last-child {
      text-align: center;
      font-size: 15px;
    }
  }
}

@media (max-width: 400px) {
  .view--users-modal {
    width: 85vw;
  }
}
