.view--users-modal {
  position: fixed;
  width: 300px;
  height: auto;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 5;
  border-radius: 7px;

  .nothing-found,
  .loading {
    text-align: center;
    font-size: 14px;
    font-family: Inter;
  }

  section {
    min-height: 40px;
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 5px;
    margin-top: 33px;
    padding-top: 10px;
    margin-bottom: 4px;
  }

  .title {
    text-align: center;
    font-family: Inter;
    border-bottom: solid 1px #229954;
    padding: 8px 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    position: fixed;
    width: 300px;
  }

  .user {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }

  .user:first-child {
    padding-top: 0;
  }

  .user:last-child {
    padding-bottom: 0;
  }

  .user-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 2px 0;
  }

  a:hover {
    color: #229954;
  }
}

@media (max-width: 500px) {
  .view--users-modal {
    all: unset;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 40px;
    max-height: 300px;
    width: 100%;
    transform: none;
    z-index: 4;
    background: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    section {
      max-height: 300px;
    }

    .title {
      width: inherit;
    }
  }
}
